
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!--<!DOCTYPE HTML>-->
<!--<html>-->
	<!--<head>-->
		<!--<title>0hh Website Template | Home :: W3layouts</title>-->
		<!--&lt;!&ndash;<meta name="keywords" content="404 iphone web template, Andriod web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />&ndash;&gt;-->
        <!--<link href="/static/css/style.css" rel="stylesheet" type="text/css">-->
	<!--</head>-->
	<!--<body>-->

	<!--</body>-->
<!--</html>-->


{% extends 'core/base.html' %}
{% block content %}
<!--start-wrap--->
		<div class="wrap">
			<!---start-header---->
				<div class="header">
					<div class="logo">
						<h1><a href="#">Ohh</a></h1>
					</div>
				</div>
			<!---End-header---->
			<!--start-content------>
			<div class="content">
				<img src="/static/images/Aries-Emperor.jpg" title="error" />
				<p><span><label>O</label>hh.....</span>You Requested the page that is no longer There.</p>
				<a href="#">Back To Home</a>
				<div class="copy-right">
					<p>&#169 All rights Reserved | Designed by <a href="http://w3layouts.com/">W3Layouts</a></p>
				</div>
   			</div>
			<!--End-Cotent------>
		</div>
		<!--End-wrap--->


{% endblock %}

