{% extends 'core/base.html' %}
{% block content %}
<style>
    img {
        width: 15%;
    }
</style>
<div class="container">
    <div class="col-md-12 well" align="center" style="margin-top: 8%;opacity: 0.75">

        <div class="zodiacIcon row text-left" style="padding:2%">
            {% if status %}
            <h3>Successfully Registered</h3>

            If you don't receive our e-mail in your inbox, please check your Bulk/Junk/Spam folder, as it
            may end up there by mistake, and indicate that it is "Not Spam" so that future e-mails will not be blocked.
            {% else %}
                <h4>This Email is already registered!</h4>
            If you don't receive our e-mail in your inbox, please check your Bulk/Junk/Spam folder, as it
            may end up there by mistake, and indicate that it is "Not Spam" so that future e-mails will not be blocked.

            {% endif %}
        </div>

    </div>
</div>


{% endblock %}
